*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
	overflow-x: hidden;
}
header{
	width: 100%;
	height: auto;
}
header ol li{
	display: inline-block;
	font-size: 18px;
	margin-left: 20px;
    list-style: disc;
}
header ol{
	float: right;
}
.logo{
	margin-left:10%;
}

nav{
	width: 100%;
	height: auto;
	border: 1px solid black;
}
.menu{
	width: 85%;
	height: auto;
}
.menu ul{
	margin-left: 40%;
}
.menu ul li{
	display: inline-block;
}
.menu li{
	padding: 5px;
}
.menu li a{
	text-decoration: none;
	color:whitesmoke;
}

.map1{
	width:40%;
	height:20%;
	float:left;

}
section{
	width: 100%;
	height: auto;
}
.address
{
	width: 50%;
	height:50%;
	border: 5px solid black;
    margin-top: 30px;
    text-align: center;
    font-family: bold;
    background-color: grey;
    font-size: 22px;
    text-align: justify;

}

/*body{
	background-image:url("../img/2.png");
	position: fixed;
	background-repeat: no-repeat;
}*/
body{
	background-image: url('../img/backgroung.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	overflow-y: hidden;
	height: auto;
}
h2{
	text-align: center;
	/*font-size: 30px;*/
}
footer{
	height: 100px;
	color: white;
	padding-top: 40px;
	padding-left: 50px;
}
button{
	margin-left: 40%;
}